body{
    margin: 0;
}

.topNav{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 100px;
    width: 90%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 40px;
    margin: 100px;
    left:50%;
    margin-left: -850px;
}
.topNav img{
    width: 350px;
}

header{
    width: 100%;
    text-align: center;
    background-image: url(/RedPlanetVenturesAssetsAndDesign/Assets/Images/homePageHeader.png);
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

.flexItemNav{
    flex: 33%;
    margin: auto;
}
.flexItemNav input{
    height: 50px;
    width: 400px;
}


.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:darkmagenta;
}

.flexItem1 img{
    width: 100%;
}

.flexItem1{
    padding: 100px;
    flex: 50%;
}

.bookNowButton{
    background-color: red;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
}

.bookNowButton:Hover{
    background-color:#ffffff;
    color: red;
    border:2px solid red;
}

.flexContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
}
.flexItem2{
    flex:50%;
}