@font-face {
    font-family: 'Porter Sans Heading';
    src: url(../RedPlanetVenturesAssetsAndDesign/Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff);
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerBGContainer{
    width: 100%;
    height: 100vh;
    background-image: url(../RedPlanetVenturesAssetsAndDesign/Assets/Images/homePageHeader.png);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
}

.py-1{
    padding-top: 0;
    margin-top: 0;
}

.topNav{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    text-align: center; 
    width: 90%;
    height: 100px;
    border-radius: 40px;
    margin: 5%;
    margin-top: 3%;
    background: rgba(196, 196, 196, 0.7);
}
.topNav img{
    width: 350px;
}

.flexItemNav{
    flex: 30%;
    margin: auto;
    margin-right: 40px;
    margin-left: 40px;
}
.flexItemNav input{
    min-height: 50px;
    min-width: 400px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #ffffff;
}
.topNav a{
    color:rgb(49, 49, 49);
    text-decoration: none;
    padding: 13px 13px;
    font-weight: 600;
    font-size: 23px;
}
.topNav a.active{
    color: #A4243B;
}

.headerImage{
    
    text-align: center;
    font-size: 50px;
}
.headerImage img{
    width:100%;
}

.botLeftH{
    position:absolute;
    bottom: 4%;
    left:5%;
    font-family: 'Porter Sans Heading';
    color: #A4243B;
    font-size: 50px;
}
.botLeftP{
    font-size: 26px;
    position:absolute;
    bottom: 0%;
    left: 5%;
    color: #5815B2;
    font-weight: 700;
}


.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
}

.flexItem1 img{
    width: 100%;
}

.flexItem1{
    padding: 80px;
    flex: 50%;
    font-size: 24.5px;
    font-weight: 400;
}
.flexItem1 h2{
    color: #98D5FF;
    margin: 0px;
    font-size: 20px;
}
.flexItem1 h1{
    color: #ffffff;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 700;
}
.flexItem1 p{
    color: #ffffff;
    margin: 0px;
    margin-bottom: 40px;
    line-height: 30px;
}
.imgContainer{
    position: relative;
    text-align: center;
    color:#000000;
    font-size: 40px;
}

#marsImg{
    width: 100%;
}

.arrowL{
    position:absolute;
    top: 45%;
    left:15px;
    max-width: 8%;
    background:none;
    border: none;
}

.arrowR{
    position:absolute;
    top: 45%;
    right:15px;
    max-width: 8%;
    background:none;
    border: none;
}



.bookNowButton{
    background-color: #A4243B;
    border: none;
    color: #ffffff;
    padding: 25px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 700;
    border:2px solid #A4243B;
}

.bookNowButton:Hover{
    background-color:#ffffff;
    color: #A4243B;
    
}

.flexContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
}
.flexItem2{
    flex:50%;
}
.flexContainer3{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#ffffff;
    align-items: center;
}

.flexItem3 img{
    width: 100%;
}

.flexItem3{
    padding: 100px;
    flex: 50%;
}
.flexItem3 h2{
    color: #98D5FF;
}
.flexItem3 h1{
    color: #5815B2;
    font-size: 50px;
}
.flexItem3 p{
    color:rgb(49, 49, 49);
}

.flexContainer4{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.flexContainer6{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 0px;
    margin-top: 30px;
}

.flexContainer5{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
}

.flexContainer7{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 40px;
}
.flexItem6 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20%;
}
.flexItem5{
    padding: 10px;
    flex: 30%;
}
.flexContainer6 h2{
    margin:5px;
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
}
.flexContainer6 h3{
    margin: 5px;
    color: #98D5FF;
    font-weight: 700;
}
.flexItem6{
    flex:20%;
    margin: 20px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.flexItem6 h1{
    margin: 0px;
    font-size: 30px;
    font-weight: bolder;
}
.flexItem6 p{
    margin: 0px;
}

.bookTripNowButton{
    background-color: #A4243B;
    border: 2px solid #A4243B;
    color: #ffffff;
    padding: 25px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
    font-weight: 800;
}

.bookTripNowButton:Hover{
    background-color:#ffffff;
    color: #A4243B;
}

.headerBGContainerF{
    width: 100%;
    height: 50vh;
    background-image: url(../RedPlanetVenturesAssetsAndDesign/Assets/Images/headerbackBack.png);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
}

.topNavF{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    text-align: center; 
    width: 90%;
    height: 100px;
    border-radius: 40px;
    margin: 5%;
    margin-top: 3%;
    background: rgba(196, 196, 196, 0.7);
}
.topNavF img{
    width: 350px;
}

.flexItemNavF{
    flex: 30%;
    margin: auto;
    margin-right: 40px;
    margin-left: 40px;
}
.flexItemNavF input{
    min-height: 50px;
    min-width: 400px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #ffffff;
}
.topNavF a{
    color:rgb(49, 49, 49);
    text-decoration: none;
    padding: 13px 13px;
    font-weight: 600;
    font-size: 23px;
}
.topNavF a.active{
    color: #A4243B;
}
.bookAFlight{
    position:absolute;
    top: 35%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Porter Sans Heading';
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}
.flexFlightContainer1{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    gap: 15%;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 0px;
    max-height: 150px;
    height: 100px;
}
.flexFlightContainer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    max-height: 100%;
}
.flexFlightContainer2::before{
    content:"";
    border: 1px solid #d3d3d3;
    align-self: stretch;
}
.flexFlightContainer3{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    margin: 0px;
    max-width: 100%;
    max-height: 80%;
    height: 50px;
    align-items: center;
}
.flexFlightContainer4{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0px;
    margin-left: 20%;
    max-width: 60%;
    height: 100%;
}

.flexFlightItem1{
        flex: 50%;
        color: #ffffff;
        height: 50%;
}

.flexFlightItem1--end{
    color: #ffffff;
    
    align-self: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flexFlightItem2{
    padding: 10px;
    flex: 50%;
    color: #ffffff;
    margin: 30px;
}
.flexFlightItem2--start{
    order: -1;
}


.flexFlightItem4{
    flex: 20%;
    margin: 0px;
}

.flexFlightItem4 p{
    box-sizing: content-box;
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffffc9;
    border-radius: 20%;
    color: #5815B2;
}
.flexFlightItem4 p1{
    box-sizing: content-box;
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffffc9;
    border-radius: 20%;
    color: #5815B2;
}

.flexFlightItem3{
    max-height: 80%;
    font-size: 20px;
    margin: 10px;
}

.flexFlightContainer5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.flexFlightItem5{
    flex: 50%;
    max-height: 80%;
}
.flexFlightItem5 img{
    width: 70%;
    max-height: 80%;
    padding-left: 8em;
}
.flexFlightContainer6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin: 50px;
}
.flexFlightItem6{
    flex: 50%;
    width: 100%;
}
.flexFlightItem6 hr{
    border: solid 1px #a0a0a0;
}
.flexFlightContainer7{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}
.flexFlightItem7{
    flex: 25%;
}
.flexFlightItem7 h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}
.flexFlightItem7 h3{
    font-size: 30px;
    font-weight: 700;
    color: #a0a0a0;
    margin: 0;
}
.flexFlightItem7 P{
    font-weight: 500;
    font-size: 20px;
}
.flexFlightContainer8{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
    padding-right: 200px;
    max-height: 30px;
    margin-top: 10px;
}
.flexFlightContainer8::before{
    content:"";
    border: 1px solid #d3d3d3;
    align-self: stretch;
}
.flexFlightItem8{
    flex: 50%;
    color: #a0a0a0;
}
.flexFlightItem8--start{
    order: -1;
}

.flexFlightContainer9{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 30px;
    min-width: 15em;
    margin-top: 20px;
}

.flexFlightItem9{
    flex: 50%;
    background-color:#5815B2;
    border: none;
    color: #ffffff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
    font-weight: 600;
    box-sizing: border-box;
}
.flexFlightItem9 p{
    margin-bottom: 0%;
}
.flexFlightItem9--end{
    box-sizing: border-box;
    padding: 5px 80px;
    background-color: #A4243B;
    border: 2px solid #A4243B;
}
.flexFlightItem9--end:hover{
    background-color:#ffffff;
    color: #A4243B;
}

.flexFlightItem8 img{
    width: 100%;
    padding: 0;
    margin: 5px;
}

.flexFlightContainer10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexFlightItem10{
    flex: 50%;
    font-size: 20px;
    color: #a0a0a0;

}
.flexFlightItem10--end{
    min-width: 10em;
    width: 10em;
    padding-right: 27em;
}
.flexFlightContainer5--altColour{
    background-color: #5815B2;
    color: #ffffff;
}
.flexFlightItem7--altColour h3{
    color: #98D5FF;
}
.flexFlightItem9--altColour{
    background-color: #98D5FF;
}
.viewCartBtn{
    max-width: 250px;
    max-height: 80px;
    box-sizing: border-box;
    padding: 3px 80px;
    text-align: center;
    justify-content: center;
    background-color: #A4243B;
    font-size: 20px;
    border-radius: 20px;
    font-weight: 600;
    box-sizing: border-box;
    color: #ffffff;
    margin-left: 70%;
    border: 2px solid #A4243B;
}
.viewCartBtn:hover{
    background-color:#ffffff;
    color: #A4243B;
}

#moonSection{
    background-color: #5815B2;
    padding-bottom: 40px;
}

#moonContainer{
    padding-bottom: 0;
}

.flexContactContainer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0px 100px;
    gap: 20px;
}
.flexContactItem1{
    flex: 50%;
    min-width: 100%;
}
.flexContactContainer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 30px;
    min-height: 100%;
}
.flexContactItem2{
    flex: 20%;
}
.flexContactContainer3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0px 20px;
}
.flexContactItem3{
    flex: 50%;
    margin:5px;
}
.flexContactItem3 img{
    width: 100%;
}
.flexContactItem3 p{
    color: rgb(49, 49, 49);
    font-size: 20px;
}
.flexContactContainer4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin-left: 40%;
    gap: 10px;
}
.flexContactItem4{
    flex: 25%;
}
.flexContactItem4 a{
    color:rgb(49, 49, 49);
    text-decoration: none;
}
.flexContactContainer5{
    display: flex;
    flex-direction: column;
    align-items: cent   ;
    justify-content: center;
    align-content: flex-start;
}
.flexContactItem5{
    flex: 25%;
    min-width: 100%;
}
.flexContactContainer6{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}
.flexContactItem6{
    flex: 25%;
}
.flexContactItem6 img{
    width: 100%;
}
.flexContactContainer7{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 40%;
}
.flexContactItem7{
    flex: 50%;
}
.flexContactContainer8{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-width: fit-content;
    gap: 5px;
    margin-left: 10px;
}
.flexContactContainer8 p{
    flex: 50%;
}
.flexContactContainer9{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin-right: 100px;
}
.flexContactItem9{
    flex: 30%;
}

footer h3{
    margin-top: 0;
}
footer{
    padding-top: 20px;
}

.flexContactContainer10{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width:fit-content;
    gap: 150px;
    margin: 80px;
    margin-bottom: 150px;
}
.flexContactItem10{
    flex: 50%;
    width: 100%;

}
.flexContactContainer11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 100px;
}
.flexContactItem11{
    min-width: 100%;
    flex: 40%;
}
.flexContactContainer12{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}
.flexContactItem12{
    flex: 30%;
}
.flexContactItem12 h3{
    color: #98D5FF;
    font-size: 25px;
    margin: 0;
}
.flexContactItem12 h1{
    color:#5815B2;
    font-size: 50px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}
.flexContactContainer13{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    max-width: 70%;
}
.flexContactItem13{
    flex: 20%;
}
.flexContactItem13 img{
    width: 100%;
}

.flexContactContainer14{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-width: 100%;
    width: 100%;
}
.flexContactItem14{
    flex: 20%;
}
.flexContactItem14 h3{
    color: #98D5FF;
    font-size: 25px;
    margin: 0;
}
.flexContactItem14 h1{
    color:#5815B2;
    font-size: 50px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}
.flexContactContainer15{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#ffffff;
    align-items: center;
}

.flexContactItem15 img{
    width: 100%;
}

.flexContactItem15{
    padding: 80px;
    flex: 50%;
    margin-top: 50px;
    margin-bottom: 80px;
}
.flexContactItem15 h2{
    color: #98D5FF;
}
.flexContactItem15 h1{
    color: #5815B2;
    font-size: 50px;
}
.flexContactItem15 p{
    font-size: 24px;
    color: #a0a0a0;
}










.formContainer2{
    width: 99%;
    /*max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    */
    border-radius: 0;
}

#contact2{
    background-image: url(../RedPlanetVenturesAssetsAndDesign/Assets/Images/formBack.png);
    background-size: cover;
    background-position: right;
    /*background-color: #f9f9f9; */
    padding: 2em 4em;
    border-radius: 60px;
    max-width: 100%;
    padding-right: 6em;
}
#contact2 h3{
    color: #ffffff;
    display: block;
    font-size: 50px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 2    0px;
}
#contact2 p1{
    color: #ffffff;
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px;
}


#contact2 input, #contact2 textarea, #contact2 button{
    font-size: 14px;
    font-weight: 400;
}

fieldset{
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    width: 100%;
    padding: 0;
}

#contact2 input, #contact2 textarea{
    width: 100%;
    border: 1px solid #ccc;
    background-color:rgb(255, 255, 255);
    color: #000000;
    margin: 0 0 20px;
    padding: 25px 10px;
    border-radius: 15px;
}

::placeholder{
    color: rgb(161, 161, 161);
    font-weight: 400;
    font-size: 20px;
}
#contact2 textarea{
    height: 100px;
    width: 100%;
    resize: none;
}
#contact2 button{
    cursor: pointer;
    width: 45%;
    height: 70px;
    border: none;
    background-color:#A4243B;
    color: #ffffff;
    padding: 8px;
    border: 2px solid #A4243B;
    font-size: 20px;
    border-radius: 15px;
    margin-bottom: 20PX;
}
#contact2 button:hover{
    color: #A4243B;
    background-color: #ffffff;
}

#contact2 input:hover, #contact2 textarea:hover{
    background-color:rgba(240, 255, 255, 0.788);
}

#contact2 input:focus, #contact2 textarea:focus{
    background-color:rgba(240, 255, 255, 0.788);
}

.footerLine{
    padding: 1px;
    background-color:#d3d3d3;
}

.card{
    border-radius: 30px;
    border: #98D5FF;
}
.card-img-top{
    border-radius: 20px;
}
#astroOnMoonAbout{
    border-radius: 30px;
}

.aboutBackMission{
    background-color: #5815B2;
}
.aboutBackHistory{
    background-color: #5815B2;
}

#spaceInterior{
    border-radius: 30px;
}

.modal-footer{
    background-color: #5815B2;
}
.modal-header{
    background-color: #5815B2;
}