@font-face {
    font-family: 'Porter Sans Heading';
    src: url(../RedPlanetVenturesAssetsAndDesign/Assets/Fonts/porter_sans_block/porter-sans-inline-block-webfont.woff);
}

body{
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerBGContainer{
    width: 100%;
    height: 100vh;
    background-image: url(../RedPlanetVenturesAssetsAndDesign/Assets/Images/homePageHeader.png);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
}

.topNav{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    text-align: center; 
    width: 90%;
    height: 100px;
    border-radius: 40px;
    margin: 5%;
    margin-top: 3%;
    background: rgba(196, 196, 196, 0.7);
}
.topNav img{
    width: 350px;
}

.flexItemNav{
    flex: 30%;
    margin: auto;
    margin-right: 40px;
    margin-left: 40px;
}
.flexItemNav input{
    min-height: 50px;
    min-width: 400px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #ffffff;
}
.topNav a{
    color:rgb(49, 49, 49);
    text-decoration: none;
    padding: 13px 13px;
    font-weight: 600;
    font-size: 23px;
}
.topNav a.active{
    color: #A4243B;
}



.botLeftH{
    position:absolute;
    bottom: 25%;
    left:50px;
    font-family: 'Porter Sans Heading';
    color: #A4243B;
}

.headerImage{
    
    text-align: center;
    font-size: 50px;
}
.headerImage img{
    width:100%;
}

.botLeftH{
    position:absolute;
    bottom: 14%;
    left:5%;
    font-family: 'Porter Sans Heading';
    color: #A4243B;
    font-size: 50px;
}
.botLeftP{
    font-size: 26px;
    position:absolute;
    bottom: 8%;
    left: 5%;
    color: #5815B2;
    font-weight: 700;
}


.flexContainer{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
}

.flexItem1 img{
    width: 100%;
}

.flexItem1{
    padding: 80px;
    flex: 50%;
    font-size: 24.5px;
    font-weight: 400;
}
.flexItem1 h2{
    color: #98D5FF;
    margin: 0px;
    font-size: 20px;
}
.flexItem1 h1{
    color: #ffffff;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 700;
}
.flexItem1 p{
    color: #ffffff;
    margin: 0px;
    margin-bottom: 40px;
    line-height: 30px;
}
.imgContainer{
    position: relative;
    text-align: center;
    color:#000000;
    font-size: 40px;
}

#marsImg{
    width: 100%;
}

.arrowL{
    position:absolute;
    top: 45%;
    left:15px;
    max-width: 5%;
}

.arrowR{
    position:absolute;
    top: 45%;
    right:15px;
    max-width: 5%;
}



.bookNowButton{
    background-color: #A4243B;
    border: none;
    color: #ffffff;
    padding: 25px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 20px;
    font-weight: 700;
}

.bookNowButton:Hover{
    background-color:#ffffff;
    color: #A4243B;
    border:2px solid #A4243B;
}

.flexContainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 300px;
}
.flexItem2{
    flex:50%;
}
.flexContainer3{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#ffffff;
    align-items: center;
}

.flexItem3 img{
    width: 100%;
}

.flexItem3{
    padding: 100px;
    flex: 50%;
}
.flexItem3 h2{
    color: #98D5FF;
}
.flexItem3 h1{
    color: #5815B2;
    font-size: 50px;
}
.flexItem3 p{
    color:rgb(49, 49, 49);
}

.flexContainer4{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 0px;
    padding-top: 40px;
}
.flexContainer6{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 0px;
    margin-top: 30px;
}

.flexContainer5{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
}

.flexContainer7{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 40px;
}
.flexItem6 img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20%;
}
.flexItem5{
    padding: 10px;
    flex: 30%;
}
.flexContainer6 h2{
    margin:5px;
    font-size: 40px;
    color: #ffffff;
}
.flexContainer6 h3{
    margin: 5px;
    color: #98D5FF
}
.flexItem6{
    flex:20%;
    margin: 20px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.flexItem6 h1{
    margin: 0px;
}
.flexItem6 p{
    margin: 0px;
}

.bookTripNowButton{
    background-color: #A4243B;
    border: none;
    color: #ffffff;
    padding: 25px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
    font-weight: 800;
}

.bookTripNowButton:Hover{
    background-color:#ffffff;
    color: #A4243B;
    border:2px solid #A4243B;
}

.headerBGContainerF{
    width: 100%;
    height: 50vh;
    background-image: url(../RedPlanetVenturesAssetsAndDesign/Assets/Images/headerbackBack.png);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    position: relative;
}

.topNavF{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    text-align: center; 
    width: 90%;
    height: 100px;
    border-radius: 40px;
    margin: 5%;
    margin-top: 3%;
    background: rgba(196, 196, 196, 0.7);
}
.topNavF img{
    width: 350px;
}

.flexItemNavF{
    flex: 30%;
    margin: auto;
    margin-right: 40px;
    margin-left: 40px;
}
.flexItemNavF input{
    min-height: 50px;
    min-width: 400px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #ffffff;
}
.topNavF a{
    color:rgb(49, 49, 49);
    text-decoration: none;
    padding: 13px 13px;
    font-weight: 600;
    font-size: 23px;
}
.topNavF a.active{
    color: #A4243B;
}
.bookAFlight{
    position:absolute;
    top: 65%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: 'Porter Sans Heading';
    color: #ffffff;
    font-size: 50px;
}
.flexFlightContainer1{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    gap: 15%;
    align-content: center;
    background-color:#5815B2;
    align-items: center;
    margin: 0px;
    max-height: 150px;
    height: 100px;
}
.flexFlightContainer2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px;
    max-height: 100%;
}
.flexFlightContainer2::before{
    content:"";
    border: 1px solid #d3d3d3;
    align-self: stretch;
}
.flexFlightContainer3{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    margin: 0px;
    max-width: 100%;
    max-height: 80%;
    height: 50px;
    align-items: center;
}
.flexFlightContainer4{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0px;
    margin-left: 20%;
    max-width: 60%;
    height: 100%;
}

.flexFlightItem1{
        flex: 50%;
        color: #ffffff;
        height: 50%;
}

.flexFlightItem1--end{
    color: #ffffff;
    
    align-self: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.flexFlightItem2{
    padding: 10px;
    flex: 50%;
    color: #ffffff;
    margin: 30px;
}
.flexFlightItem2--start{
    order: -1;
}


.flexFlightItem4{
    flex: 20%;
    margin: 0px;
}

.flexFlightItem4 p{
    box-sizing: content-box;
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffffc9;
    border-radius: 20%;
    color: #5815B2;
}
.flexFlightItem4 p1{
    box-sizing: content-box;
    width: 30%;
    height: 50%;
    padding: 10px;
    text-align: center;
    background-color: #ffffffc9;
    border-radius: 20%;
    color: #5815B2;
}

.flexFlightItem3{
    max-height: 80%;
    font-size: 20px;
    margin: 10px;
}

.flexFlightContainer5{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.flexFlightItem5{
    flex: 50%;
}
.flexFlightItem5 img{
    width: 60%;
    padding-left: 15em;
}
.flexFlightContainer6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    margin: 50px;
}
.flexFlightItem6{
    flex: 50%;
    width: 100%;
}
.flexFlightItem6 hr{
    border: solid 1px #a0a0a0;
}
.flexFlightContainer7{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}
.flexFlightItem7{
    flex: 25%;
}
.flexFlightItem7 h1{
    font-size: 50px;
    font-weight: 900;
    margin: 0;
}
.flexFlightItem7 h3{
    font-size: 30px;
    font-weight: 700;
    color: #a0a0a0;
    margin: 0;
}
.flexFlightItem7 P{
    font-weight: 500;
    font-size: 20px;
}
.flexFlightContainer8{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
    padding-right: 200px;
    max-height: 30px;
    margin-top: 10px;
}
.flexFlightContainer8::before{
    content:"";
    border: 1px solid #d3d3d3;
    align-self: stretch;
}
.flexFlightItem8{
    flex: 50%;
    color: #a0a0a0;
}
.flexFlightItem8--start{
    order: -1;
}

.flexFlightContainer9{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    gap: 30px;
    min-width: 15em;
    margin-top: 20px;
}

.flexFlightItem9{
    flex: 50%;
    background-color:#5815B2;
    border: none;
    color: #ffffff;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 20px;
    font-weight: 600;
    box-sizing: border-box;
}
.flexFlightItem9--end{
    box-sizing: border-box;
    padding: 5px 80px;
    background-color: #A4243B;
}
.flexFlightItem8 img{
    width: 100%;
    padding: 0;
    margin: 5px;
}

.flexFlightContainer10{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flexFlightItem10{
    flex: 50%;
    font-size: 20px;
    color: #a0a0a0;

}
.flexFlightItem10--end{
    min-width: 10em;
    width: 10em;
    padding-right: 27em;
}
.flexFlightContainer5--altColour{
    background-color: #5815B2;
    color: #ffffff;
}
.flexFlightItem7--altColour h3{
    color: #98D5FF;
}
.flexFlightItem9--altColour{
    background-color: #98D5FF;
}